body {
  background-color: #1f2937;
  color: rgb(231, 231, 231);
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#title {
  font-size: 36px;
}

#posterTitle {
  margin-top: 4px;
  font-size: 10px;
}

#inputs {
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: start;
}

.titleInput {
  padding: 6px;
  width: 200px;
  border-radius: border-box;
}

#dropInput {
  width: 215px;
}

#miniTitle {
  font-size: 10px;
}

#info2 {
  display: flex;
  align-items: center;
}

#info3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#list1 {
  margin: 10px;
  list-style-type: none;
  font-weight: 600;
}

.btn {
  padding: 6px;
  border-radius: 12px;
  width: 50px;
  margin: 8px;
  border: none;
}

#plot {
  width: 260px;
  margin: 30px;
}

#title {
  display: flex;
  justify-content: center;
}
